$mainColor: #fff;
$defaultColor: #000;
$actionHoverColor: #d5b438;
$productTitleColor: #FC6335;
$productTextColor:#828294;
$secondColor: #122453;
$aboutUsBg: linear-gradient(to bottom, rgba(18, 36, 83, 0.6), rgba(18, 36, 83, 0.6));
$boxShadow: 0px 0px 10px 0px rgba(213,180,56,1);
$boxShadowCard: 0px 3px 18px 0px rgba(200, 194, 194, 0.15);
$boxShadowCardHover: 0px 3px 33px 0px rgba(141, 131, 131, 0.25);
$borderColor: #D3DEEA;
$borderColorCard: rgba(234, 234, 234, 1);
$btnMoreHover:#FC4B16;
$btnSubmitHover: #010101;
$politicColor: #ff8562;
$detailsTitleColor: #262B33;
$detailsBorderColor: #d3deea;
$detailsCalcBg: #ecf2f9;
$detailsRefreshColor: #697281;